HttpRequest.json
{
  "name": "HttpRequest",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "aa8e8199-a141-47fd-89f8-46ec6b363f02",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6adb32d0-7746-473f-9a63-38ef3f49f1e5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "457f1686-5f77-44a1-840c-de181593dfb9",
              "name": "name",
              "value": "=L'employé s'apelle {{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "1d55c2c0-bc2d-4419-b15d-1611dc9e770a",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b0c6ee26-4af9-49cf-ad4c-6e55fe407c64",
  "meta": {
    "instanceId": "e990a03027152a680a247413d38b42816c42c5c3ebef8238c42d4b51b135a5b0"
  },
  "id": "siSe8fvLXZvKeoR0",
  "tags": []
}