Webhook.json
{
  "name": "Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-age",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        368
      ],
      "id": "cc8c4415-206f-46ca-b6dd-36b5b93adbef",
      "name": "Webhook",
      "webhookId": "1f99c878-27a9-4bae-a128-e648adda0955"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eeb758b0-50ed-40c1-b8e0-654336d6c34d",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        272
      ],
      "id": "0bdc35cf-2c26-49eb-a408-f1ca105d0825",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "table",
        "operation": "create",
        "tableName": "User",
        "columns": {
          "column": [
            {
              "name": "=name"
            },
            {
              "name": "age",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        48,
        64
      ],
      "id": "2fe98c9b-357e-4d12-b61b-986f86a2027e",
      "name": "Create a data table"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "DGCUI7BQrC6L0XwX",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "/projects/inoWOyR1ACdDoxRu/datatables/DGCUI7BQrC6L0XwX"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.body.name }}"
          },
          "matchingColumns": [
            "name"
          ],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        272
      ],
      "id": "cb63d4e9-b7f0-4db6-b60a-139b325cf180",
      "name": "Insert row"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        688,
        32
      ],
      "id": "2d54168f-b508-4cfa-8fc7-15ca367dd7a7",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "DGCUI7BQrC6L0XwX",
          "mode": "list",
          "cachedResultName": "User",
          "cachedResultUrl": "/projects/inoWOyR1ACdDoxRu/datatables/DGCUI7BQrC6L0XwX"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        896,
        32
      ],
      "id": "43d0754d-87b3-4d74-8069-bcdc220ff889",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "717a4396-f38d-42a1-8be7-81d3e6e0c3fe",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "6f9b09f2-fffb-4b8c-a314-660a8828bd59",
              "leftValue": "={{ $json.body.name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "df948eb7-30f1-44ab-bf78-ccfe33cb66fb",
              "leftValue": "={{ $json.body.age }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "3351d717-7cb3-4c9f-845a-2e84295d2945",
              "leftValue": "={{ $json.body.age }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        176,
        368
      ],
      "id": "65288624-2d74-4e83-9594-ed2c39147222",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"404: Veuillez renseigner votre nom et votre age\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        384,
        464
      ],
      "id": "ee6ebc47-4837-4eab-ae4e-895f2d1c3ca3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"message\": \"202: insert réussi\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        272
      ],
      "id": "56028d76-3efa-4f6b-85cb-79bfc53a94eb",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b8a7fa73-ddd8-4a9d-a412-8d358b9d4716",
  "meta": {
    "instanceId": "e990a03027152a680a247413d38b42816c42c5c3ebef8238c42d4b51b135a5b0"
  },
  "id": "n3NwkUj6n4kj0mZ6",
  "tags": []
}